<button (click)="ExportTOExcel()">
  EXPORT TO XLSX
</button>

<table #TABLE>
  <tbody>
      <tr>
          <td rowspan="4" colspan="2">
              <img class="logo" src="/assets/android-icon-192x192.png" />
          </td>
          <td></td>
      </tr>
      <tr class="report-name">
          <td colspan="5">
              <span>
                fgdfgdfgfgdfgdfgdfgdfgdgdgddddddfdfgdfgdfgdfgdfgdfgdfgdfg
              </span>
          </td>
      </tr>
      <tr>
          <td colspan="5" class="report-date">
              <span>
                dfgdfgdfgdfgdfgdfgdfgdfgdfg
              </span>
          </td>
      </tr>
      <tr>
          <td colspan="5" class="report-date">
              <span>
                gdfgdfgdfgfgfdggfgdfgdfgfgfgdfgdfgdfgdfgfgfgfgdfgdfgdfgdfg
              </span>
          </td>
      </tr>
  </tbody>
</table>